<!--The content below is only a placeholder and can be replaced.-->


<h2>Current Projects</h2>
<p>Below are a list of projects I've been working on from 2018 - present. My primary focus from a technology standpoint is JavaScript (Front-End Frameworks, NodeJS, and ES6), and C#/ASP.NET. Professionally, I specialize in Microsoft Azure technologies, web application development, and cloud architecture. I have a hobbyist interest in decentralized solutions, open source operating systems, solar energy, and IoT.</p>
<div *ngFor="let post of posts">
<app-post [post]="post"></app-post>
</div>


