<!--The content below is only a placeholder and can be replaced.-->


<div>

<span class="subtext">Uonai: tr.(Lojban) Incompleteness</span><br />
<span class="subtext">Space: a continuous area or expanse which is free, available, or unoccupied.</span>

<h1>Colin.S.McCaleb is a Chicago-based developer interested in the intersections of <b>programming</b>, data privacy, and global sustainability.</h1>

<h2>Current Projects:</h2>
<p>Here are a list of projects I've been working on from 2018 - present.</p>
<h3>Uppakoma</h3>
 <p>A localized events platform (Technologies: ReactNative, .NET, MongoDB, Azure Cloud)</p>
 <button mat-stroked-button>More</button>

<h3>Hydra</h3>
<p>An IoT cloud platform (Technologies: Angular, .NET, Azure Cloud)</p>
<button mat-stroked-button>More</button>

<h3>Vitae</h3>
<p>A dashboard for showing real-time fitness gains (Technologies: Angular, .NET, SQL Server, Azure Cloud)</p>
<button mat-stroked-button>More</button>

<h2>Social Links:</h2>
<ul>
  <li>GitHub</li>
  <li>Twitter</li>
  <li>YouTube</li>
  <li>LinkedIn</li>
  <li>Circle</li>
  <li>AngelList</li>
</ul>


