
  <div>
    <h3>{{post.title}}</h3>
    <p>{{post.subTitle}}</p>
    
    <div *ngIf="showPost">
      <p><span class="post-bold">Development Timeline: </span>{{post.date}}</p>
      <p><span class="post-bold">State of Project: </span>{{post.state}}</p>
      <p><span class="post-bold">Project Details: </span>{{post.postDetails}}</p>
      <p><span class="post-bold">Technologies:</span></p>
        <ul>
          <li *ngFor="let item of post.technologies">{{item.technology}}</li>
        </ul>
      <div *ngIf="post.link">
      <p><span class="post-bold">External Link: </span><span><a href="{{post.link}}">{{post.link}}</a></span></p>
    </div>
      <img src="{{post.imageURL}}" class="post-image">
    </div>
  
    <button mat-stroked-button id = {{post.id}} (click)="updateButtonState()">{{this.buttonText}}</button>
  </div>

  