<!-- Page Header -->
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h2>The Logbook</h2><a routerLink="/" mat-stroked-button>✖ Close Logbook</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container log-summary">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div markdown [src]="'./assets/logbook/log1.md'" class="logbook-post"></div>
    </div>
  </div>
</div>
