/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; padding:1em;}
body { margin: 0; font-family: 'PT Sans', sans-serif; }
h1, h2, h3 { 
    letter-spacing: 1px;     
    padding-bottom: 0.5em;
}

h1 {
    margin-top: 1.2em;
}

h2, h3 {
    border-bottom: 2px solid #000;
    margin-top: 2em;
}

h4{
    letter-spacing:1px;
}

a {
    color:#000 !important;
}

p {
    font-family: 'PT Serif', serif;
}

.subtext{
    font-style: italic;
    opacity:0.5;
    font-family: 'PT Serif', serif;
}


.mat-stroked-button {
    border-radius: 0px !important;
    border-color: #000 !important;
    border-width: 2px !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
}

