<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <a routerLink="/logbook" mat-stroked-button style="margin-top:2em;">← Return To Logbook</a>
      </div>
    </div>
  </div>
</header>
<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div markdown [src]="post" class="post" (error)="onError($event)"></div>

          <div class="post-not-found" *ngIf="notFound">
            <div class="d-flex justify-content-center">
              <p>Oops, the requested blog post was not found</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <a routerLink="/logbook" mat-stroked-button>← Return To Logbook</a>
        </div>
      </div>
    </div>

